# Required. Get one from https://app.smartsheet.com
# then Account / Personal settings / API Access
SMARTSHEET_ACCESS_TOKEN=

# Required. If not set, run 
# `python setup_workspace.py` to see your options.
SMARTSHEET_WORKSPACE_ID=
